 @model MvcMovie.Models.Transaction
@{
    ViewData["Title"] = "Transaksi";
}
<style>
    h2{
 font-weight: 800;
 font-family:'comic sans-ms';
color: #0F3460;
font-size: 45px;
width: 100%;
line-height: 50px;
}
</style>
<h2 style="font-family: 'PT Mono', monospace;">lengkapi data dibawah untuk membeli tiket</h2>
<div class="row">
    <div class="col-md-4">
 <form asp-action="Transaksi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group">
                <label asp-for="DestinationID" class="control-label"></label>
                <select asp-for="DestinationID" class="form-control" onchange="showCustomer(this.value)">
                <option value="1">Wisata Agro Jollong Pati </option>
                <option value="2">Wisata Gunung Rowo</option>
                <option value="3">Bukit Pandang</option>
                <option value="4">Lorodan Semar</option>
                <option value="5">Air Terjun Montel Kudus</option>
                <option value="6">Air Terjun Songgo Langit</option>
                <option value="7">Pantai Karang Jahe Rembang</option>
                <option value="8">Pantai Wates</option>
                <option value="9">Taman  Oasis</option>
            </select>
            </div>
            <div id="txtHint">Price info will be listed here...</div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Beli" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
function showCustomer(str) {
  if (str == "") {
    document.getElementById("txtHint").innerHTML = "";
    return;
  }
  const xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
    document.getElementById("txtHint").innerHTML = this.responseText;
  }
  xhttp.open("GET", "getPrice.php?q="+str);
  xhttp.send();
}
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}