@model MvcMovie.Models.Destination
@{
ViewData["Title"] = "Buat Tempat Wisata";
}
<style>
    h2{
 font-weight: 800;
 font-family:'comic sans-ms';
color: #1DB9C3;
font-size: 45px;
width: 100%;
line-height: 50px;
    }
</style>
<h2>Lengkapi Tempat Wisatamu agar menarik</h2>
<div class="row">
    <div class="col-md-4">
 <form asp-action="CreateDeskripsi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control" />
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
