@{
    ViewData["Title"] = "Home Page";
}
    <section>
        <img src="https://freedesignfile.com/upload/2018/05/Beach-travel-elements-summer-holiday-vector-02.jpg" 
        alt="logo" width="450px" height="350px">
        <div class ="deskripsi " style="float:right;">
            <p class="paragraf">cek daftar tempat pariwisata terlengkap di Kota Pati dan sekitarnya </p><br>
            <h2 >hanya ada di website Tour And Travel.com</h2>
        </div>
    </section>
