@model IEnumerable<Destination>
@{
    ViewData["Title"] = "Details";
}
<style>
    h2{
 font-weight: 800;
 font-family:'comic sans-ms';
color: #0F3460;
font-size: 45px;
width: 100%;
line-height: 50px;
}
h4{
 font-weight: 800;
 font-family:'comic sans-ms';
color: black;
width: 100%;
line-height: 50px;
}
body{
  background-color: #D1E8E4;
}
</style>
<body>
    @foreach (var item in Model)
    {
    <table class="table table-striped ">
            <thead>
            <tr>
                <th scope="col">Tempat Wisata :</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><h4 style="font-family: 'Source Sans Pro', sans-serif;"> @item.Place</h4></td> 
            </tr>
            </tbody>
        </table>
    }
</body>