@{

    ViewData["Title"] = "Home Page";
}
<body>
<link rel="stylesheet" href="D:\projects\ProyekWebMVC\MvcMovie\wwwroot\css\site.css">
    <section>
        <img src="https://freedesignfile.com/upload/2018/05/Beach-travel-elements-summer-holiday-vector-02.jpg" 
        alt="logo" width="450px">
        <div class ="deskripsi " style="float:right;">
            <p class="paragraf">cek daftar tempat pariwisata terlengkap di Kota Pati dan sekitarnya </p><br>
            <h2 >hanya ada di website TourAndTravel.com</h2>
        </div>
    </section>
</body>
