@{

    ViewData["Title"] = "Home Page";
}
<style>
    section{
  margin: auto;
  display: flex;
    margin-bottom: 50px;
}

.deskripsi {
  margin-top: 100px;
  margin-bottom: 30px;
}
.deskripsi .paragraf {
  font-size: 20px ;
  font-weight:bold;
font-family:'comic sans-ms';
color:#334756;
margin-bottom: 0px;
}

h2{
 font-weight: 800;
 font-family:'comic sans-ms';
color: #0F3460;
font-size: 45px;
width: 100%;
line-height: 50px;
}
h5{
 font-weight: 800;
 font-family:'comic sans-ms';
color: #0F3460;
width: 100%;
line-height: 50px;
}
</style>
<body>
<body>
<link rel="stylesheet" href="D:\projects\ProyekWebMVC\MvcMovie\wwwroot\css\site.css">
    <section>
        <div style="padding: 25px;">
        <img src="https://freedesignfile.com/upload/2018/05/Beach-travel-elements-summer-holiday-vector-02.jpg" 
        alt="logo" width="450px">
        </div>
        <div class ="deskripsi " style="float:right;">
            <p class="paragraf">cek daftar tempat pariwisata terlengkap di Kota Pati dan sekitarnya </p><br>
            <h2 >hanya ada di website TourAndTravel.com</h2>
        </div>
    </section>
</body>

</body>