@{
    ViewData["Title"] = "Selamat!!";
}
<style>
    h2{
 font-weight: 800;
color: #0F3460;
font-size: 45px;
font-family: 'PT Mono', monospace;
width: 100%;
line-height: 50px;
}

p{
  font-size: 20px ;
color:#082032;
margin-bottom: 0px;
text-align: center;
}
.styleLink{ 
      background: black;
      border-radius: 20px;
      margin-top: 20px;
      padding : 15px 20px 15px 20px;
      color: white;
      }
</style>
    <h2>selamat anda berhasil membuat Daftar Tempat Wisatamu sendiri</h2>
    <p>Tempat wisatamu akan muncuk didaftar jika Admin menyetujui!</p>
<a class="styleLink" asp-controller="TourAndTravel" asp-action="Tempat">Kembali</a>