
@{
    ViewData["Title"] = "Selamat!!";
}
<style>
    h2{
 font-weight: 800;
 font-family:'comic sans-ms';
color: #0F3460;
font-size: 45px;
width: 100%;
line-height: 50px;
}
</style>
<body>
    <h2>selamat anda berhasil membuat akun!!</h2>
    <p>silahkan cari tempat wisata sesuai keinginan anda,Terima Kasih...</p>
</body>
</html>