@{
    ViewData["Title"] = "Selamat!!";
}
<style>
    h2{
 font-weight: 800;
 font-family:'comic sans-ms';
color: #1DB9C3;
font-size: 45px;
width: 100%;
line-height: 50px;
}
.styleLink{ 
      background: black;
      border-radius: 20px;
      margin-top: 20px;
      padding : 15px 20px 15px 20px;
      color: white;
      }
</style>
    <h2>selamat anda berhasil membuat Daftar Tempat Wisatamu sendiri</h2>
    <p>Ayo lengkapi deskripsi tempat wisatamu dibawah ini</p>
<a class="styleLink" asp-controller="TourAndTravel" asp-action="CreateDeskripsi">Buat</a>